@model CatalogItemViewModel

<form method="post">
    <img class="esh-catalog-thumbnail" src="@Model.PictureUri" />
    <input class="esh-catalog-button" asp-page="/Basket/Index" type="submit" value="[ ADD TO BASKET ]" />
    <input class="esh-catalog-button" style="background-color:black" asp-page="/Wishlist/Index" type="submit" value="[ ADD TO WISHLIST ]" />
    <div class="esh-catalog-name">
        <span>@Model.Name</span>
    </div>
    @if (@Model.ShowPrice) {
    <div class="esh-catalog-price">
        <span class="item--price">@Model.Price.ToString("N2")</span>
        <span class="item--price-unit">@Model.PriceUnit.ToString()</span>
    </div>
    }
    <input type="hidden" asp-for="@Model.Id" name="id" />
    <input type="hidden" asp-for="@Model.Name" name="name" />
    <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />
    <input type="hidden" asp-for="@Model.Price" name="price" />
</form>


