@page "{handler?}"
@model IndexModel
@{
    ViewData["Title"] = "Wishlist";
}

<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>

<div class="container">

    @if (Model.WishlistViewModel.Items.Any())
    {
        <form method="post">
            <article class="esh-basket-titles row">
                <br />
                <section class="esh-basket-title col-xs-3">Product</section>
                <section class="esh-basket-title col-xs-3 hidden-lg-down"></section>
                <section class="esh-basket-title col-xs-2">Price</section>
            </article>
            <div class="esh-catalog-items row">
                @for (int i = 0; i < Model.WishlistViewModel.Items.Count; i++)
                {
                    var item = Model.WishlistViewModel.Items[i];
                    <article class="esh-basket-items row">
                        <div>
                            <section class="esh-basket-item esh-basket-item--middle col-lg-3 hidden-lg-down">
                                <img class="esh-basket-image" src="@item.PictureUrl" />
                            </section>
                            <section class="esh-basket-item esh-basket-item--middle col-xs-3">@item.ProductName</section>
                            <section class="esh-basket-item esh-basket-item--middle col-xs-2">$ @item.CatalogItemId.ToString("N2")</section>
                            
                            <section> 
                            <input class="esh-catalog-button" asp-page="/Wishlist/TransferItemToBasket" type="submit" value="[ ADD TO BASKET ]" />
        <input type="hidden" asp-for="@item.Id" name="id" />
  
                            </section>
                           
                            
                        </div>
                        <div class="row">
                            
                        </div>
                    </article>
                    }
</form>
                <div class="container">
                    <article class="esh-basket-titles esh-basket-titles--clean row">
                        <section class="esh-basket-title col-xs-10"></section>
                        <section class="esh-basket-title col-xs-2">Total Items in Wishlist</section>
                    </article>

                    <article class="esh-basket-items row">
                        <section class="esh-basket-item col-xs-10"></section>
                        <section class="esh-basket-item esh-basket-item--mark col-xs-2">@Model.WishlistViewModel.Items.Count().ToString()</section>
                    </article>

                      </div>
                <div class="row">
                    <section class="esh-basket-item col-xs-1">
                        <a asp-page="/Index" class="btn esh-basket-checkout text-white">[ Continue Shopping ]</a>
                    </section>
                    </div>
   
    }
    else
    {
        <h3 class="esh-catalog-items row">
            Wishlist is empty.
        </h3>
        
        <section class="esh-basket-item">
            <a asp-page="/Index" class="btn esh-basket-checkout text-white">[ Continue Shopping ]</a>
        </section>
    }
</div> 
